asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
Django==6.0.4
django-crispy-forms==2.6
djangorestframework==3.17.1
idna==3.13
mysqlclient==2.2.8
pillow==12.2.0
python-decouple==3.8
qrcode==8.2
razorpay==2.0.1
requests==2.33.1
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.6.3
